{
  "plugins": [
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
      }
    }],
    ["@babel/preset-stage-1", {
      "decoratorsLegacy": true,
      "targets": {
        "node": "current",
      },
    }],
  ],
}
