{
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
  },
  "extends": ["ericgio-base"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "rules": {
    "import/no-cycle": "off",
    "sort-keys": "off",
  },
  "settings": {
    "import/ignore": [
      "src/models/index.js", // Allow dynamic importing of models.
    ],
  },
}
